@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Global Colors */
    --global-bg-1: #f6f6f6;
    --global-bg-2: #fafafa;
    --global-text-1: #0c8ce9;
    --global-text-2: #3d3d3d;
    --global-text-3: #444444;

    /* EditText Colors */
    --edittext-text-1: #888888;

    /* Button Colors */
    --button-bg-1: #0b60b0;
    --button-text-1: #ffffff;
  }
}

@layer utilities {
  /* Global */
  .bg-global-1 {
    background-color: var(--global-bg-1);
  }
  .bg-global-2 {
    background-color: var(--global-bg-2);
  }
  .text-global-1 {
    color: var(--global-text-1);
  }
  .text-global-2 {
    color: var(--global-text-2);
  }
  .text-global-3 {
    color: var(--global-text-3);
  }

  /* EditText */
  .text-edittext-1 {
    color: var(--edittext-text-1);
  }

  /* Button */
  .bg-button-1 {
    background-color: var(--button-bg-1);
  }
  .text-button-1 {
    color: var(--button-text-1);
  }
}
